<li>
    <p>
        <%if(locals.user && locals.user.id==post.user.id){%>
        <small>
            <a href="/post/destroy/<%= post.id%>">delete </a>
        </small>
        <%}%>
        <%= post.content%>
        <br>
        <small>
            <%= post.user.name%>
        </small>
    </p>
    
    <div class="post-comments">
        <%if(locals.user){%>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="add comment..">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add comment">
            </form>
        <%}%>
        <div class="post-comment-list"> 
            <ul id="post-comment-<%=post._id%>">
                <% for(comment of post.comments){%>
                    
                <p>
                    <%if(locals.user && locals.user.id==comment.user.id){%>
                        <small>
                            <a href="/comments/destroy/<%= comment.id%>">delete </a>
                        </small>
                        <%}%>
                <%= comment.content%>
                <br>
                <small>
                    <%=comment.user.name%>
                </small>
                </p>
                <%}%>
            </ul>
        </div>
    </div>
</li>